<%- include('include/header.html'); %>

<div class="card-body" style="height: calc(90vh - 4rem); padding: 0;">
  <div hidden="hidden" id="chat-column-holder" class="responsive-column">
    <div class="chat-column" style="height: 90%;">
      <div id="scrollingChat"></div>
      <label for="textInput" id="textLabel" class="inputOutline">
        <input id="textInput" class="input responsive-column" placeholder="Escreva algo" type="text" onkeydown="ConversationPanel.inputKeyDown(event, this)">
        <div id="endConversationDiv" style="display:none;" class="row justify-content-sm-center">
          <div class="col-md-auto">
            <button type="button" id="continuarConversa" class="btn btn-primary">Continuar Conversa</button>
            <button type="button" id="receberConversaPorEmail" class="btn btn-warning">Receber conversa por e-mail</button>
          </div>
      </label>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  var userInLocalStorage = localStorage.getItem('name') && localStorage.getItem('email') && localStorage.getItem('phone')
  if(userInLocalStorage) {
    $('#chat-column-holder').removeAttr('hidden')
  } else {
    localStorage.clear()
    window.location.replace('<%= absoluteUrl %>')
  }
})
</script>
<script src="js/common.js"></script>
<script src="js/api.js"></script>
<script src="js/conversation.js"></script>
<script src="js/payload.js"></script>
<script src="js/global.js"></script>

<%- include('include/footer.html'); %>